YOUTUBE_API_KEY=YouTube Data API v3 키를 입력하세요.
GEMINI_API_KEY=Gemini API 키를 입력하세요.
MODEL=gemini-3.1-flash-lite-preview
TAGS=KIA,기아,타이거즈,김도영,양현종,나성범
CATEGORIES='
일반: 성적 의도없음.
모호: 성적인 비유나 은어를 사용하여, 해석에 따라 성적 수치심을 유발할 여지가 있음.
명백: 객관적으로 성적 수치심을 유발하고, 성적 욕망을 충족하려는 의도가 명백함.
'
FORMAT=csv